@import "reset.css";
@import "vars.css";

:root {
  font-family: "Asap", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--text);
  text-decoration: none;
}

html,
body,
#root,
#app {
  height: 100%;
}

#app {
  height: 100%;
  transition: all var(--animation-timing) ease-in-out;
}

#app.accueil {
  background-color: white;
}

#app.myexpressdriver {
  background-color: rgba(7, 65, 118, 0.6);
}

#app.sylvain-galoustoff {
  background-color: rgba(153, 89, 166, .75);
}

#app.smart-home-control {
  background-color: rgba(233, 166, 67, .95);
}

#app.contact {
  background-color: var(--bg);
}

#app.a-propos {
  background-color: var(--bgAlt);
}

.route-animation-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.active {
  background-color: var(--bg);
  color: var(--primary);
}