#mailAdress {
  position: absolute;
  left: 32px;
  font-weight: 700;
  color: var(--textTitle);
  display: flex;
  gap: 4px;
}

#copyIcon {
  cursor: pointer;
}

#copyIcon:hover {
  color: var(--primary);
}